.friendList {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(237, 149, 237);
}

.item {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: beige;
}